@import "tailwindcss";

@theme {
  --color-primary: #F8544B;
}

@layer base {
  button {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}